p{
    color:red;
    background-color: orange;
}
    body{
        background-color: darkblue;
        background-image: linear-gradient(to top,pink,orange,lightblue, darkblue,black);
        font-family: Arial, sans-serif;
    }
    .page-header{
        background-image: linear-gradient( to left,black, orange, purple, lightblue, skyblue,cyan, teal,green,lightgreen,chocolate);
        border-radius: 16px;
        text-align: center;
        color: blueviolet;
    }
    .fact-card {
        background-color:mediumaquamarine;
        border-radius: 12px;
        color: aliceblue
    }
    .star{
        width: 120px;
        height: 120px;
        background-color: yellowgreen;
        border-radius: 50%;
        animation: twinkle 2s infinite alternate; 
    }
    @keyframes twinkle {
        from{ background-color: yellow;}
        to {background-color: rgb(233, 225, 155)}
    }
    .mercury{
        width: 60px;
        height: 60px;
        background-color: rgb(83, 4, 4);
        border-radius: 50%;
        animation: mer 2s infinite alternate
    }
    @keyframes mer {
        from{ background-color: rgb(83, 4, 4);}
        to {background-color: rgb(49, 30, 2)}
    }
    .Venus{
         width: 80px;
        height: 80px;
        background-color: yellowgreen;
        border-radius: 50%;
        animation: ven 2s infinite alternate
    }
    @keyframes ven {
        from{ background-color: yellowgreen;}
        to {background-color:yellow;}
        to { background-color: burlywood;}
    }
    .Earth{
        width: 85px;
        height: 85px;
        background-color: green;
        border-radius: 50%;
        animation: er 2s infinite alternate
    }
     @keyframes er {
        from{ background-color: blue;}
        to {background-color:green;}
     }
    .mars{
        width: 70px;
        height: 70px;
        background-color: red;
        border-radius: 50%;
        animation: erma 2s infinite alternate
    }
     @keyframes erma {
        from{ background-color: red;}
        to {background-color:rgb(92, 26, 26);}
       }
       .jup{
        width: 100px;
        height: 100px;
        background-color: brown;
        border-radius: 50%;
        animation: j 2s infinite alternate
    }
     @keyframes j {
        from{ background-color: yellow;}
        to {background-color:yellowgreen;}
        to { background-color: rgb(80, 45, 5);}
     }
     .sat{
        width: 100px;
        height: 100px;
        background-color: yellowgreen;
        border-radius: 50%;
        animation: js 2s infinite alternate
     }
     @keyframes js {
        from{ background-color: rgb(128, 128, 13);}
        to {background-color:rgb(85, 77, 7);}
        to { background-color: rgb(185, 106, 16);}
     }
     .u{
        width: 70px;
        height: 70px;
        background-color: lightblue;
        border-radius: 50%;
        animation: urd 2s infinite alternate
     }
     @keyframes urd {
        from{ background-color: rgb(15, 206, 206);}
        to {background-color:rgb(28, 136, 155);}
        to { background-color: rgb(11, 132, 141);}
     }
     .nep{
        width: 75px;
        height: 75px;
        background-color: blue;
        border-radius: 50%;
        animation: n 2s infinite alternate
     }
     @keyframes n {
        from{ background-color: rgb(6, 40, 102);}
        to {background-color:rgb(56, 28, 155);}
        to { background-color: rgb(40, 86, 146);}
     }
    .footer-text {
        text-align: center;
        color: coral;
    }