p{
    color:red;
    background-color: orange;
}
    body{
        background-color: darkblue;
        background-image: linear-gradient(to top, darkblue,pink,orange,black);
        font-family: Arial, sans-serif;
    }
    .page-header{
        background-image: linear-gradient( to left,black, orange, purple, lightblue, skyblue,cyan, teal,green,lightgreen,chocolate);
        border-radius: 16px;
        text-align: center;
        color: blueviolet;
    }
    .fact-card {
        background-color:mediumaquamarine;
        border-radius: 12px;
        color: aliceblue
    }
    .star{
        width: 60px;
        height: 60px;
        background-color: yellowgreen;
        border-radius: 50%;
        animation: twinkle 2s infinite alternate; 
    }
    @keyframes twinkle {
        from{ background-color: yellow;}
        to {background-color: rgb(3, 54, 46)}
    }
    .footer-text {
        text-align: center;
        color: coral;
    }